/* body {
    background-color: #9595c3;
    margin: 0px;
  } */
body,
html {
  background-color: #bcbcdf;
  height: 100%;
  margin: 0px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 500;
  color: #5354f4;
  /* text-shadow: 1px 1px 1px rgb(40, 44, 98); */
}


.navbar {

  overflow: hidden;

}

/*Navigation bar links*/
.navbar-cv {
  display: flex;
  justify-content: flex-end;
}

.navbar a {

  border: 3px solid #4b29a1;
  border-radius: 20px;
  padding: 10px 25px;
  text-align: left;
  text-decoration: none;
  float: left;
  color: white;
  margin: 10px;


}


.navbar-cv a {


  /* border: 3px solid #4CAF50; */
  border: 3px solid #112989;
  /* border-radius: 20px; */
  /* padding: 10px 25px; */

  border-radius: 100%;
  padding: 20px;
  text-align: left;
  text-decoration: none;
  float: left;
  color: white;
  margin: 10px;


}





/*Hovering over navigation bar*/
.navbar a:hover {
  background-color: #faf800;
  color: black;
}

.navbar-cv a:hover {
  background-color: #00ccfa;
  color: black;
}




/*Introduction*/
.summary {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  /* letter-spacing: 4px; */
  border: 3px solid #4b29a1;
  padding: 50px;
}

.intro {
  height: 100%;
}

/*about section*/

.about h2,
p {
  text-align: left;
  padding-left: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.projects h2,
p {
  text-align: left;
  padding-left: 25%;
  padding-top: 1%;
  padding-bottom: 1%;
}

h2 {
  text-align: left;
  padding-left: 25%;
}
/*   
  .about p {
    font-size: 20px;
  } */